DB_HOST=de-crm-pg.postgres.database.azure.com
DB_PORT=5432
DB_NAME=decrm_prod
CRM_TENANT_ID=7b40dde3-9d9e-4ee7-baff-1eee805b99c2
CRM_TIMEZONE=Asia/Kolkata
DB_USER=decrm_admin
DB_PASSWORD=CHANGE_ME
CRM_API_KEY=CHANGE_ME
